<!-- Default panel contents -->
{{#with controller}}
  <div class="panel-heading">
    <h4>
      Tasks you {{name}} do
      &nbsp;
      <small>[<em>{{tasks.length}} things to list.</em>]</small>
    </h4>
  </div>
  <div class="panel-body">
    <div class="list-group">
      {{#each tasks}}
        {{#link-to 'task' id class='list-group-item' bind-attr='done:list-group-item-success'}}
          <div class="row">
            <div class="container-fluid">
              <div class="col-md-2">
                  {{id}}
              </div>
              <div class="col-md-2">
                <strong>{{title}}</strong>
              </div>
              <div class="col-md-5">
                <em>{{body}}</em>
              </div>
              <div class="col-md-2">
                {{input type='checkbox' checked=done class='pull-right'}}
              </div>
            </div>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
{{/with}}
